<h1>Quote Editor</h1>
<%= form_for @quote do |q| %>
    <%= q.label :author %>
    <%= q.text_field :author, value: @quote.author.name %><br><br>
    <%= q.label :content %>
    <%= q.text_area :content %><br><br>
    <%= q.submit %>
<% end %>