
<% author_obj = Author.search(params[:search_term].titleize) %>
<% if author_obj %>

<h1>Authors</h1>
<%= link_to author_obj.name, author_obj %>

<% elsif !Quote.search(params[:search_term]).empty? %>

<h1>Quotes</h1>
<% Quote.search(params[:search_term]).each do |result| %>
    <h4>"<%= result.content %>"<br><br><%=button_to "Go to Quote", quote_path(result), method: :get%></h4>
    - <%= link_to result.author.name, author_path(result.author.id) %><br><br>
<% end %>

<% else %>
<%=@error%>
<% end %>
