
<% author_obj = Author.search(params[:search_term].titleize) %>
<% if author_obj %>

<div id="custom_title">Authors</div>
<%= link_to author_obj.name, author_obj %>

<% elsif !Quote.search(params[:search_term]).empty? %>

<div id="custom_title">Quotes</div>
<% Quote.search(params[:search_term]).each do |result| %>
    <div id="quote_box">"<%= result.content %>"<br><br>
    - <%= link_to result.author.name, author_path(result.author.id) %><br><br>
    <%=button_to "Go to Quote", quote_path(result), method: :get, class: "custom_button"%></div>
    <br><br>
<% end %>

<% else %>
<div id="custom_title"><h1><%=@error%></h1></div>
<% end %>
