<div id="custom_title">Edit Account</div>
<div id="custom_form"><%= form_for @user do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
    <%= f.label :password%>
    <%= f.password_field :password%><br><br>
    <%= f.submit "Update Account", class: "custom_button"%>
<% end %></div>

<% if flash[:messages] %>
<%= flash[:messages] %>
<% end %>