<div id="custom_title">Create a new account</div>

<div id="custom_form"><%= form_for @user do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %> <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Create Account"%>
<% end %></div>

<% if flash[:messages] %>
    <div id="custom_title"><% flash[:messages].each do |error| %>
        <%= error%>
    <% end %></div>
<% end %>