<!DOCTYPE html>
<html>
  <head>
    <title>Quoted</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='clearfix'>
  <div class="nav">
      <div id="home"><%= link_to image_tag("/assets/home.png"), root_path %></div>
      <%=form_tag search_results_path do %>
        <label></label>
        <%= text_field_tag :search_term %>
        <%= submit_tag "Search" %>
      <% end %>
      <% if logged_in?%>
      <%= link_to "Add New Quotes", new_quote_path %>
        <%= link_to "Favorite Quotes", favorites_path %>
        <%= link_to "Sign Out", logout_path %>
        <%= link_to "Account", user_path(current_user)%>
      <% else %>
        <%= link_to "Create Account", new_user_path%>
        <%= link_to "Sign In", login_path%>
      <% end %>
  </div>
</header>
    
<div class='content'>
  <%= yield %>
</div>
    
  </body>
</html>
